* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;

}

.navbar {
    justify-content: space-evenly;
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url('amazon_logo.png');
    height: 50px;
    width: 100px;
    background-size: cover;
}

.border {
    border: 1px solid transparent;
    padding: 3px;
}

.border:hover {
    border: 1px solid white;
    padding: 3px;
}

/** box 2**/

.add-first {
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 15px;
}

.add-sec {
    color: #ffffff;
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/**box-3**/

.nav-search {
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    width: 600px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 4px;


}

.nav-search:hover {
    border: 2px solid rgb(211, 125, 13);
}

.search-select {
    text-align: center;
    background-color: #f3f3f3;
    border: 2px solid rgb(236, 8, 8);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    width: 50px;



}

.search-input {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    border: none;
}

.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    font-size: 1.2rem;
    border: 2px solid rgb(12, 12, 12);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    background-color: rgb(235, 162, 6);
    color: black;

}

/*box-4*/

span {
    font-size: 0.7rem;
}

.nav-sec {
    font-size: 0.8rem;
    font-weight: 700;
}

/*box-5*/

.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

/*panel*/

.panel {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #232f3e;
    height: 40px;
    color: white;
}

.panel-ops {
    width: 80%;
    font-size: 0.85rem;

}

.panel-ops p {

    display: inline;
    margin-left: 10px;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}




/*herooo*/

.hero-section {
    background-color: aqua;
    background-image: url(Hero.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;
    animation: slider 8s infinite linear;
}

@keyframes slider {
    0% {
        background-image: url(Hero.jpg);
    }

    35% {
        background-image: url(Hero4.jpg);
    }

    75% {
        background-image: url(Hero3.jpg);
    }
}

                             /*shoping-section*/
.shoping-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: blueviolet;
}

.box {
    width: 300px;
    height: 100%;
    margin-top: 10px;
    padding: 20px 0px 15px;
    background-color: white;


}

h1 {
    font-weight: 600;
    font-size: 1.4rem;
}

.box-img {
    width: 100%;
    height: 270px;
    background-size: cover;
    margin-top: 1.5rem;
    margin-bottom: 1rem;


}

.box-content p {
    color: rgb(72, 72, 197);
}

.box-content {
    margin-left: 20px;
    margin-right: 20px;
}




/*footer*/


.footer-panel-1 {     /*footer-panel-1*/
   

    height: 120px;
    background-color: white;
    border-top: 0.8px solid rgb(158, 150, 150);
    border-bottom: 0.8px solid rgb(158, 150, 150);
    margin-bottom: 30px;
}

.footer-panel-1 a {
    color: blue;
}

.footer-signin {

    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-signin h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-signin p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {

    display: flex;
    align-items: center;
    justify-content: center;
}

.button2 {
    background-color: #c49514;
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 4px;
    font-weight: 700;
}

.footer-panel-2 {      /*footer-panel-2*/
    
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 500;
    font-size: 0.85;
    background-color: #232f3e;
    color: white;
    height: 50px;
}

.footer-panel-3 {      /*footer-panel-3*/
    
    background-color: #222c38;
    color: white;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid rgb(100, 97, 97);
}

ul a {
    display: block;
    font-size: 0.8rem;
}

.footer-panel-3 ul p {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 5px;
}


.footer-panel-4 {      /*.footer-panel-4*/
   
    background-color: #222c38;
    height: 80px;
    color: white;

}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}


.footer-text-main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222c38;
    color: white;
    height: 50px;

}

.footer-text a {
    color: white;
}